<!-- <ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

    <div style="text-align: center; margin-top: 30%;">
        <img src="../../assets/image/chef.jpeg" alt="" style="height: 300px; width: 335px;" class="animate__animated animate__zoomIn animate__delay-1s">
        <div>
            <H1 style="color: black; color: black;
            font-family: 'Lobster-Regular';
            font-size: 45px;" class="animate__animated animate__fadeIn animate__zoomIn animate__delay-1s"> Yummy Slice </H1>
        </div>

        <div style="margin-top: 15%;">
            <ion-button shape="round" routerLink="/image-slide">Start Shopping</ion-button>
        </div>
    </div>

</ion-content>