<ion-header class="ion-no-border">
    <ion-toolbar>

        <div style="display: flex;
        justify-content: space-between;
        align-items: center;">
            <ion-buttons>
                <ion-menu-button>
                    <ion-icon name="menu" color="dark"></ion-icon>
                </ion-menu-button>
            </ion-buttons>

            <ion-title >
                Profile
            </ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div style="text-align: center;">
        <div>
            <img src="../../assets/image/person-icon.png" alt="" style="height: 110px;
            width: 110px;
            object-fit: cover;
            background-color: #556080;
            border-radius: 50%;
            padding: 5px;">
            <!-- <img src="../../assets/icon/camera.png" alt="" style="position: relative;
            top: 20px;
            right: 25px;"> -->
        </div>
    </div>

    <div style="margin: 25px; font-size: large;">

        <div>
            <ion-label>Your Name</ion-label>
            <p style="background-color: #ef621f45;
            border-radius: 25px;
            padding: 10px;
            font-size: 15px;
            line-height: 18px;
            height: 40px;
            color: #4F4F4F;"> </p>
        </div>

        <div>
            <ion-label>Email ID</ion-label>
            <p style="background-color: #ef621f45;
            border-radius: 25px;
            padding: 10px;
            font-size: 15px;
            line-height: 18px;
            font-family: 'Poppins_Regular';
            height: 40px;
            color: #4F4F4F;"> </p>
        </div>

        <div>
            <ion-label>Phone No</ion-label>
            <p style="background-color: #ef621f45;
            border-radius: 25px;
            padding: 10px;
            font-size: 15px;
            line-height: 18px;
            font-family: 'Poppins_Regular';
            height: 40px;
            color: #4F4F4F;">+91 &nbsp;</p>
        </div>

        <div>
            <ion-label>Licence Number</ion-label>
            <p style="background-color: #ef621f45;
            border-radius: 25px;
            padding: 10px;
            font-size: 15px;
            font-family: 'Poppins_Regular';
            height: 40px;
            color: #4F4F4F;"> </p>
        </div>
    </div>


</ion-content>
