<ion-header class="ion-no-border">
    <ion-toolbar>
        <div style="display: flex; align-items: center;">
            <div>
                <ion-buttons>
                    <ion-menu-button>
                        <ion-icon name="menu" color="dark"></ion-icon>
                    </ion-menu-button>
                </ion-buttons>
            </div>

            <div>
                <ion-title>My Orders</ion-title>
            </div>
        </div>


    </ion-toolbar>
</ion-header>

<!-- <ion-header class="ion-no-border">
    <img src="../../assets/image/orders.gif" alt="">
</ion-header> -->

<ion-content [fullscreen]="true">

    <div>
        <img src="../../assets/image/orders.gif" alt="">
    </div>

    <div style="padding: 15px;
    border-radius: 10px;
    background: #afb3be;
    margin: 10px;">

        <div>
            <H6 style="margin: 0px; color: black; font-family: Fredoka_One"> Your item is successfully ordered and on its way</H6>
        </div>

    </div>

</ion-content>