<ion-header class="ion-no-border">
    <ion-toolbar>
        <div style="display: flex; align-items: center;">
            <div>
                <ion-buttons>
                    <ion-menu-button>
                        <ion-icon name="menu" color="dark"></ion-icon>
                    </ion-menu-button>
                </ion-buttons>
            </div>

            <div>
                <ion-title>Contact Us</ion-title>
            </div>
        </div>


    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div>
        <img src="../../assets/image/contact-us.gif" alt="">
    </div>

    <div style="padding: 15px;
    border-radius: 10px;
    background: #afb3be;
    margin: 10px;">
        <div style="text-align: center; margin-bottom: 30px;">
            <H4 style="margin: 0px; color: black; font-family: Fredoka_One">How can we help you ?</H4>
        </div>
        <H6 style="color: black;
        font-family: 'PT_Sans_Bold';
        margin-bottom: 25px;">For all queries, please E-mail us or Dial us using the details below .... </H6>
        <H6 style="margin: 0px; color: black; font-family: Fredoka_One">Mobile Number : +91 9897969594</H6>
        <H6 style="margin: 0px; color: black; font-family: Fredoka_One">E mail : Example@gmail.com</H6>
    </div>

</ion-content>