<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/tabs/tab3"></ion-back-button>
  </ion-buttons>
    <ion-title>Product Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Different chicken cuts</ion-card-title>
      <ion-card-subtitle
        >A chicken can either be used as a whole bird or be divided into four
        different cuts – the drumstick, wing, thigh and breast. Let’s look at
        each one of these different cuts and what they are commonly used
        for.</ion-card-subtitle
      >
    </ion-card-header>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Whole bird</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      The whole chicken can be used for making chicken stock. You would roast or
      poach the chicken with vegetables and could then use the cooked meat for
      sandwiches and salads. Alternatively, you could flatten the chicken. This
      is a great way to barbecue a whole chicken, finishing it off in a closed
      barbecue to cook through.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Breast and tenderloin</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Chicken breast must be the most versatile meat.  It is a white meat with very little fat and it is the perfect cut to slice up in stir-fries, marinate and grill, pan-fry or oven roast, filled with your favourite filling. Chicken breasts can also be baked or poached and used in salad, sandwiches or shredded and put into soups.
Tenderloins are a good option too. They are slightly more tender than the whole breast and are great crumbed and baked, or quickly chargrilled and tossed in a hot salad.
Buy as single chicken breasts fillets without the skin, with tenderloin attached, or with skin on. A supreme cut is the chicken breast with wingette attached and skin on.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Thighs</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Chicken thighs can be bought as thigh fillets with skin and bone removed, or thigh cutlets, with bone and skin still attached. Chicken thigh meat is brown and has a little more fat then the breast, but also slightly more flavour.
Thigh fillets are great sliced or chopped in stir-fries, or in casseroles. Use the thigh cutlet in casseroles or bakes.
Chicken Maryland is the thigh with the drumstick attached. Maryland is great for roasting and baking and can also be used on the barbeque or char-grill.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Drumsticks, wings</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Chicken wings and drumsticks are usually cheaper cuts of chicken. They are great baked in a sticky glaze or marinade and eaten in your fingers.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mince</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Chicken mince can be used for rissoles, burgers, meatballs, or cooked in a Vietnamese larb salad. You can use chicken mince instead of beef mince in tacos or enchiladas.    </ion-card-content>
  </ion-card>
</ion-content>
