H4 {
    color: black !important;
    font-family: PT_Sans_Bold;
}

p {
    color: black !important;
    font-family: PT_Sans_Bold;
}

ion-label {
    color: black !important;
    font-family: PT_Sans_Bold;
}