<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button icon="chevron-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div style="padding: 15px;
">
        <div style="text-align: center;
        padding: 15px;
        background: white;
        border-radius: 50%;
        border: 1px solid #9e9e9e;
        width: 350px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 10px 3px lightgrey;">
            <img src="../../assets/image/forgot-password.gif" alt="" style="border-radius: 50%;
        height: 300px;
        width: 300px;
        object-fit: cover;">
        </div>

        <div style="text-align: center;
        margin-top: 20px;
        background: #afb3be;
        padding: 15px;
        border-radius: 10px;">
            <p style="color: black;
            font-family: 'Fredoka_One';
            letter-spacing: .5px;
            text-align: left;">That's Okay, it happens! Click on the button below to reset your password. We'll send an email with instructions to reset your password</p>
            <p> <strong> {{ this.userDetails?.email }} </strong> </p>

            <ion-button shape="round" style="--background: linear-gradient(to bottom, #E48720 10%, #D83128 80%);
            margin-top: 30px;
            font-family: 'Fredoka_One';
            height: 45px;
          " (click)="forgot()">Reset My Password</ion-button>
        </div>
    </div>

</ion-content>